asgiref
certifi
crispy-bootstrap5
distlib
Django
django-braces
django-crispy-forms
django-environ
django-humanize
django-model-utils
django-star-ratings
filelock
humanize
MouseInfo
numpy
opencv-contrib-python
pillow
pipenv
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
setuptools
sqlparse
swapper
tzdata
virtualenv